<div class="cotainer">
	<div class="row justify-content-center">
		<div class="col-md-8">
	<button type="button" class="btn btn-primary" (click) = "AddProduct()">Add</button>
			<table class="table table-hover table-responsive">
				<thead class="thead-dark">
					<tr>
						<th scope="col">title</th>
						<th scope="col">description</th>
						<th scope="col">shop_location </th>
						<th scope="col"> from_date </th>
						<th scope="col"> to_date</th>
						<th scope="col">cashback</th>
						<th scope="col">price</th>
						<th scope="col">stock</th>
						<th scope="col">weight</th>
						<th scope="col">created_by</th>
						<th scope="col">lat</th>
						<th scope="col">lng</th>
						<th scope="col">color</th>
						<th scope="col">size</th>
						<th scope="col">category_id</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Product</td>
						<td>Indore</td>
						<td>@ 2021-09-04 5:5:2</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>Product</td>
						<td>Indore</td>
						<td>@ 2021-09-04 5:5:2</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>